<div class="row "> <!--tabla paquete-->
    <button type="button" class="btn btn-outline-success" (click)="modal.open(crear)">Crear Paquete</button>
  <div class="col-12 "  >
    <div class="row">
      <div class="col-md-12 col-lg-12" *ngFor="let item of listaPaquetes" >
        <div class="card"  >
          <div class="card-header titulocard "  >
              <h2 class="card-title ">{{item._destino}}</h2>
          </div>
          <div class="card-body" >
            <div class="row no-gutters">
              <div class="col-md-4">
                  <img src="{{item._imagen}}" class="card-img" alt="...">
              </div>
                
              <div class="card-body col-md-8">
                
                <h4>De: {{item._fechaS}}  Hasta:{{item._fechaV}} </h4>
                <h4>Alojamiento: {{item._alojamiento._nombre}}</h4>
                <h4>Transporte: {{item._transporte._nombre}}</h4>
                <h4>Descripcion: </h4>
                <h4>{{item._descripcion}}</h4>
                <h4>Estadia: {{item._estadia}}</h4>
                <h4>Cantidad de Personas: {{item._cantPersonas}}</h4>
                <h3>Precio: {{item._precio}} </h3> 

                <div class="card-footer">
                <button type="button" class="btn btn-outline-primary" (click)="elegirPaquete(item);modal.open(modificar)">Modificar</button>
                <button type="button" class="btn btn-outline-danger" (click)="eliminarPaquete(item)">Eliminar</button>
                </div>                               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>
<ng-template #modificar let-modal> <!--Modificar paquete-->
  <form #modpaquete="ngForm">
    <div class="modal-header">
      <h4>Modificar</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="inputDestino">Destino</label>
      <input type="text" class="form-control" id="inputDestinoModel" placeholder="Ingrese el Destino" 
       name="destinoModel" [(ngModel)]="paq._destino" #destinoModel="ngModel" required>
    </div>
    <div *ngIf="destinoModel.invalid && (destinoModel.dirty || destinoModel.touched)" class="alert alert-danger">
      <div *ngIf="destinoModel.errors.required">
        El destino es requerido.
      </div>
    </div> 
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="customFileLang" accept="image/x-png,image/gif,image/jpeg" lang="es" name="image" alife-file-to-base64 (onFileChanged)="cargarimagenpaquete($event)">
      <label class="custom-file-label" for="customFileLang">Seleccionar una Imagen</label>
    </div>
    <div class="form-group">
      <label for="formPrecio">Precio</label>
      <input type="number" class="form-control" id="formPrecioModel" placeholder="Precio" 
       name="precioModel" [(ngModel)]="paq._precio" #precioModel="ngModel" required>
    </div>
    <div *ngIf="precioModel.invalid && (precioModel.dirty || precioModel.touched)" class="alert alert-danger">
      <div *ngIf="precioModel.errors.required">
        El precio es requerido.
      </div>
    </div> 
    <div class="form-group">
      <label for="formDe">Desde</label>
      <input type="date" class="form-control" id="formDeModel" placeholder="Ingrese fecha de ida" 
       name="idaModel" [(ngModel)]="paq._fechaS" #idaModel="ngModel" required>
    </div>
    <div *ngIf="idaModel.invalid && (idaModel.dirty || idaModel.touched)" class="alert alert-danger">
      <div *ngIf="idaModel.errors.required">
        Este campo es requerido.
      </div>
    </div> 
    <div class="form-group">
      <label for="formHasta">Hasta</label>
      <input type="date" class="form-control" id="formHastaModel" placeholder="Ingrese fecha de vuelta" 
       name="vueltaModel" [(ngModel)]="paq._fechaV" #vueltaModel="ngModel" required>
    </div>
    <div *ngIf="vueltaModel.invalid && (vueltaModel.dirty || vueltaModel.touched)" class="alert alert-danger">
      <div *ngIf="vueltaModel.errors.required">
        Este campo es requerido.
      </div>
    </div> 
    <div class="form-group col-12">
      <label for="formAloj" class="col-4">Alojamiento</label>
      <select name="selectaloj" [(ngModel)]="paq._alojamiento" class="col-12" class="form-control">
        <option *ngFor="let alojamiento of listaAlojamiento " class="form-control" [ngValue]="alojamiento">{{alojamiento._nombre}} </option>
      </select>
    </div>
    <div class="form-group col-12">
      <label for="formTrans" class="col-4">Transporte</label>
      <select name="selecttrans" [(ngModel)]="paq._transporte" class="col-12" class="form-control">
        <option *ngFor="let transporte of listaTransporte" [ngValue]="transporte">{{transporte._nombre}} </option>
      </select>
    </div>
    <div class="form-group">
      <label for="formEstadia">Estadia</label>
      <input type="number" class="form-control" id="formEstadiaModel" placeholder="Estadia" 
       name="estadiaModel" [(ngModel)]="paq._estadia" #estadiaModel="ngModel" required>
    </div>
    <div *ngIf="estadiaModel.invalid && (estadiaModel.dirty || estadiaModel.touched)" class="alert alert-danger">
      <div *ngIf="estadiaModel.errors.required">
        Este campo es requerido.
      </div>
    </div> 
    <div class="form-group">
      <label for="formCant">Cant Personas</label>
      <input type="number" class="form-control" id="formCantModel" placeholder="Cantidad de Personas" 
       name="cantModel" [(ngModel)]="paq._cantPersonas" #cantModel="ngModel" required>
    </div>
    <div *ngIf="cantModel.invalid && (cantModel.dirty || cantModel.touched)" class="alert alert-danger">
      <div *ngIf="cantModel.errors.required">
        Este campo es requerido.
      </div>
    </div> 
    <div class="form-group">
      <label for="formDes">Descripcion</label>
      <input type="text" class="form-control" id="formDesModel" placeholder="Descripcion"
       name="desModel" [(ngModel)]="paq._descripcion" #desModel="ngModel" required>
    </div>
    <div *ngIf="desModel.invalid && (desModel.dirty || desModel.touched)" class="alert alert-danger">
      <div *ngIf="desModel.errors.required">
        La descripcion es requerida.
      </div>
      <div *ngIf="desModel.errors.minlength">
        La descripcion debe tener al menos 10 letras.
      </div>
    </div> 
  </div>
  </form>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" [disabled]="!modpaquete.form.valid" (click)="modificarPaquete()" (click)="modal.close()">Guardar Cambios</button>
      <button type="button" class="btn btn-outline-danger" (click)="modal.close()">Cancelar</button>
  </div>
</ng-template>

<ng-template #crear let-modal> <!--crear paquete-->
  <form #crearpaquete="ngForm">
    <div class="modal-header">
      <h4>Crear</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="limpiarModal('nuevo-paquete')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="inputDestino1">Destino</label>
        <input type="text" class="form-control" id="inputDestinoModel1" placeholder="Ingrese el Destino" 
          name="destinoModel1" [(ngModel)]="paq._destino" #destinoModel1="ngModel" required>
      </div>
      <div *ngIf="destinoModel1.invalid && (destinoModel1.dirty || destinoModel1.touched)" class="alert alert-danger">
        <div *ngIf="destinoModel1.errors.required">
          El Destino es requerido.
        </div>
      </div> 
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFileLang" accept="image/x-png,image/gif,image/jpeg" lang="es" name="qweeqw" alife-file-to-base64 (onFileChanged)="cargarimagenpaquete($event)">
        <label class="custom-file-label" for="customFileLang">Seleccionar una Imagen</label>
      </div>
      <div class="form-group">
        <label for="formPrecio1">Precio</label>
        <input type="number" class="form-control" id="formPrecioModel1" placeholder="Precio"
         name="precioModel1" [(ngModel)]="paq._precio" #precioModel1="ngModel" required>
      </div>
      <div *ngIf="precioModel1.invalid && (precioModel1.dirty || precioModel1.touched)" class="alert alert-danger">
        <div *ngIf="precioModel1.errors.required">
          El precio es requerido.
        </div>
      </div> 
      <div class="form-group">
        <label for="formDe1">Desde</label>
        <input type="date" class="form-control" id="formDeModel1" placeholder="Ingrese fecha de ida" 
         name="idaModel1" [(ngModel)]="paq._fechaS" #idaModel1="ngModel" required>
      </div>
      <div *ngIf="idaModel1.invalid && (idaModel1.dirty || idaModel1.touched)" class="alert alert-danger">
        <div *ngIf="idaModel1.errors.required">
          Este campo es requerido.
        </div>
      </div> 
      <div class="form-group">
        <label for="formHasta1">Hasta</label>
        <input type="date" class="form-control" id="formHastaModel1" placeholder="Ingrese fecha de vuelta" 
         name="vueltaModel1" [(ngModel)]="paq._fechaV" #vueltaModel1="ngModel" required >
      </div>
      <div *ngIf="vueltaModel1.invalid && (vueltaModel1.dirty || vueltaModel1.touched)" class="alert alert-danger">
        <div *ngIf="vueltaModel1.errors.required">
          Este campo tambien es requerido.
        </div>
      </div> 
      <div class="form-group col-12">
        <label for="formAloj1" class="col-4">Alojamiento</label>
        <select name="alojamientoalta" [(ngModel)]="paq._alojamiento" class="col-12" class="form-control">
          <option *ngFor="let alojamiento of listaAlojamiento " class="form-control" [ngValue]="alojamiento">{{alojamiento._nombre}} </option>
        </select>
      </div>
      <div class="form-group col-12">
        <label for="formTrans1" class="col-4">Transporte</label>
        <select name="transportealta" [(ngModel)]="paq._transporte" class="col-12" class="form-control">
          <option *ngFor="let transporte of listaTransporte" [ngValue]="transporte">{{transporte._nombre}} </option>
        </select>
      </div>
      <div class="form-group">
        <label for="formEstadia1">Estadia</label>
        <input type="number" class="form-control" id="formEstadiaModel1" placeholder="Estadia"
         name="estadiaModel1" [(ngModel)]="paq._estadia" #estadiaModel1="ngModel" required>
      </div>
      <div *ngIf="estadiaModel1.invalid && (estadiaModel1.dirty || estadiaModel1.touched)" class="alert alert-danger">
        <div *ngIf="estadiaModel1.errors.required">
          Este campo es requerido.
        </div>
      </div> 
      <div class="form-group">
        <label for="formCant">Cant Personas</label>
        <input type="number" class="form-control" id="formCantModel1" placeholder="Cantidad de Personas" 
         name="cantModel" [(ngModel)]="paq._cantPersonas" #cantModel="ngModel" required>
      </div>
      <div *ngIf="cantModel.invalid && (cantModel.dirty || cantModel.touched)" class="alert alert-danger">
        <div *ngIf="cantModel.errors.required">
          complete el campo.
        </div>
      </div> 
      <div class="form-group">
        <label for="formDes1">Descripcion</label>
        <input type="text" class="form-control" id="formDesModel1" placeholder="Descripcion" 
         name="desModel1" [(ngModel)]="paq._descripcion" #desModel1="ngModel" minlength="10" required>
      </div>
      <div *ngIf="desModel1.invalid && (desModel1.dirty || desModel1.touched)" class="alert alert-danger">
        <div *ngIf="desModel1.errors.required">
          Este campo es requerido.
        </div>
        <div *ngIf="desModel1.errors.minlength">
          Escriba una descripcion de al menos 10 letras.
        </div>
      </div> 
    </div>
  </form>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" [disabled]="!crearpaquete.form.valid" (click)="agregarPaquete();modal.close()">Guardar Cambios</button>
      <button type="button" class="btn btn-outline-danger" (click)="limpiarModal('nuevo-paquete')">Cancelar</button>
  </div>
</ng-template>

<div class="modal-dialog modal-dialog-scrollable">

</div>