/*sidebar*/
.sidebar {
    min-height: 100vh;
    overflow: hidden;
    font-weight: 300;
    color: var(--primary);
    background-color:#042331;
    padding: 0;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    list-style: none;
}
.logo{
    font-size: 22px;
    text-align: center;
    line-height: 70px;
    background-color: #063146;
}

.sidebar a{
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);;
    line-height: 65px;
    font-size: 20px;
    padding-left: 40px;

}
.sidebar a:hover{
    padding-left: 50px;
    transition: .4s;
}
.sidebar a i{
    margin-right: 16px;
}

label #btn, label #cancelar{
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
    padding: 6px 12px;
}
label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
}
label #cancel{
    z-index: 1111;
    left: 195px;
    top: 17px;
    font-size: 30px;
    padding: 4px 9px;
}
#check:checked ~ .sidebar{
    left: 0;
}