/*sidebar*/
.sidebar {
    min-height: 100vh;
    overflow: hidden;
    font-weight: 300;
    color: var(--primary);
    background-color:#042331;
    padding: 0;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    list-style: none;
}
.logo{
    font-size: 22px;
    text-align: center;
    line-height: 70px;
    background-color: #063146;
}

.sidebar a{
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);;
    line-height: 65px;
    font-size: 20px;
    padding-left: 40px;

}
.sidebar a:hover{
    padding-left: 50px;
    transition: .4s;
}
.sidebar a i{
    margin-right: 16px;
}

label #btn, label #cancelar{
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
    padding: 6px 12px;
}
label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
}
label #cancel{
    z-index: 1111;
    left: 195px;
    top: 17px;
    font-size: 30px;
    padding: 4px 9px;
}
#check:checked ~ .sidebar{
    left: 0;
}

/*Paquete card*/
.package {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: -1px 1px #dcdcdc;
    padding-left: 0px;
    margin-bottom: 8px;
    color: #333;
}
.package .title, .package .title a, .package .title a:hover {
    color: #333;
    font-size: 16px;
    line-height: 17px;
    font-weight: 500;
}
.package .subtitle {
    color: #666;
    font-size: 13px;
    font-weight: 400;
}
.package .days {
    font-weight: 400;
    padding-bottom: 8px;
}
.package .amenities {
    border-top: 1px solid #ececec;
    padding-top: 8px;
}
.package .amenities .amenity {
    padding-right: 10px;
    font-weight: 400;
    font-size: 12px;
}
.package .amenities .amenity i {
    font-size: 16px;
}
.package .price {
    color: #0075d5;
    font-size: 16px;
    font-weight: 700;
}
.package .price span {
    font-size: 24px;
}
.package .price-legend {
    font-size: 11px!important;
    font-weight: 400;
    color: #666;
}
.package .departure-date {
    color: #0075d5;
    font-size: 11px;
    font-weight: 700;
}
.package .clickPackageButton {
    color: #fff;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    margin-left:40px;
}
.hbox {
    flex-direction: row;
}
.hbox, .vbox {
    display: flex;
}
.package .clickPackageButton a.button {
    padding: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border-radius:20px 20px;
    transition: .5s;
}
.package .clickPackageButton a {
    color: #fff;
    background-color: #428ce1;
}
.package .clickPackageButton a {
    color: #fff;
    background-color: #428ce1;
}
