<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['home']"  >Home<span class="sr-only">(current) </span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['paquetes']"*ngIf="usuarioService.usuarioLogeado.tipousuario.descripcion == 'cliente' || usuarioService.usuarioLogeado.tipousuario.descripcion == 'agente'">Paquetes</a>
        </li>
        <li class="nav-item" *ngIf=" usuarioService.usuarioLogeado.tipousuario.descripcion == 'agente'"  >
          <a class="nav-link" [routerLink]="['paquetesAbm']" >ABM Paquetes</a>
        </li>
        
        
      </ul>
      <form class="form-inline my-2 my-lg-0" *ngIf="!usuarioService.usuariologIn">
        <input class="form-control mr-sm-2" type="text" placeholder="Usuario" aria-label="Usuario" name="nombreusuario" [(ngModel)]="usuarioLoageado.nombreusuario">

        <input class="form-control mr-sm-2" type="password" placeholder="Contraseña" aria-label="Contraseña" name="password" [(ngModel)]="usuarioLoageado.password">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button"(click)="login()" >Ingresar</button>
        <button class="btn btn-outline-primary my-2 my-sm-0" type="button" >Registrarse</button>
      </form>
      <button class="btn btn-outline-primary my-2 my-sm-0" type="button" *ngIf="usuarioService.usuariologIn" (click)="cerrarSession()">salir</button>
    </div>
  </nav>
